<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js" defer></script>
    <link rel="icon" href="../icon/svg/logo_white.svg" type="image/svg">
    <link rel="icon" href="..icon/svg/logo_white.svg" type="image/svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Сотрясатель</title>
</head>

<body >
    <!-- Шапка и бургер меню -->
    <header>
        <a href=""><img src="../icon/svg/logo_white.svg" alt=""></a>
        <img src="../icon/svg/burger.svg" alt="" class="burger_buttom">
    </header>
    <div class="burger_menu">
        <!-- <div class="burger"> -->
        <div class="burger_window">
            <div>
                <div>
                    <a href=""><img src="../icon/svg/logo_white.svg" alt="">
                        <p>Сотрясатель</p>
                    </a>
                    <img src="../icon/svg/cross.svg" alt="" class="burger_buttom_close">
                </div>
                <div>
                    <ul>
                        <li><a href="">Музыка</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Другое</a></li>
                        <li><a href="">Подписка</a></li>
                        <li><a href="">Стать артистом</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <a href=""><button>Войти</button></a>
                <a href=""><button>Регистрация</button></a>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <!-- Секция каталога -->
    <section class="catalog">
        <h1><span>Сотрясателя</span><br> музыка</h1>

        <div class="swiper_catalog">
            <h2>Вышедшие альбомы</h2>

            <div class="swiper catalog">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1">
                        <div class="slider--catalog">
                            <div class="slider--catalog-content ">

                                <div class="scc scc-1"></div>

                                <div class="catalog--title-text">
                                    <div class="catalog--img">
                                        <div>
                                            <img src="../image/F-JcoYh2FuU.jpg" alt="">
                                        </div>
                                        <div>
                                            <img src="../image/B03v4lsGaiA.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="catalog--title-h1-h2">
                                        <h2><span>DOUBLE TAP</span><br>GOING QUANTUM & HAYVE</h2>
                                    </div>
                                    <div>
                                        <a href=""><button>Прослушать релиз</button></a>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide2">
                        <div class="slider--catalog">
                            <div class="slider--catalog-content">

                                <div class="scc scc-2"></div>

                                <div class="catalog--title-text">
                                    <div class="catalog--img">
                                        <div>
                                            <img src="../image/F-JcoYh2FuU.jpg" alt="">
                                        </div>
                                        <div>
                                            <img src="../image/B03v4lsGaiA.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="catalog--title-h1-h2">
                                        <h2><span>Haze</span><br>PROFF</h2>
                                    </div>
                                    <div>
                                        <a href=""><button>Прослушать релиз</button></a>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide3">
                        <div class="slider--catalog">
                            <div class="slider--catalog-content">

                                <div class="scc scc-3"></div>

                                <div class="catalog--title-text">
                                    <div class="catalog--img">
                                        <div>
                                            <img src="../image/F-JcoYh2FuU.jpg" alt="">
                                        </div>
                                        <div>
                                            <img src="../image/B03v4lsGaiA.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="catalog--title-h1-h2">
                                        <h2><span>journey</span><br>yeter & klaxx</h2>
                                    </div>
                                    <div>
                                        <a href=""><button>Прослушать релиз</button></a>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Непосредтсвенно сам каталог -->
    <section class="catalog--container">
        <div class="catalog--container-title">
            <h2>Вышедшие альбомы</h2>
            <div>
                <!-- Кнопка появлятся только под админкой -->
                <a href=""><button><img src="../icon/svg/cross_add.svg" alt="">Добавить трек</button></a>

                <a href=""><button><img src="../icon/svg/search.svg" alt=""></button></a>
                <a href=""><button><img src="../icon/svg/filter.svg" alt="">ФИЛЬТР</button></a>
                <a href=""><button><img src="../icon/svg/sort.svg" alt="">СОРТИРОВКА</button></a>
            </div>
        </div>

        <div class="catalog--container-release">
            <div class="catalog--view-grid">
                <div class="catalog--grid">
                    <div>
                        <a href="">
                            <img src="../image/Double_Tap.jpg" alt="">
                            <p>Double tap</p>
                            <p>GOING QUANTUM & HAYVE</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/Journey.jpg" alt="">
                            <p>journey</p>
                            <p>yetep & klaxx</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/Haze.jpg" alt="">
                            <p>lar</p>
                            <p>haze</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/ENDLESS.png" alt="">
                            <p>ENDLESS (BEST OF ME)</p>
                            <p>AFINITY & NEVVE</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/godlands.png" alt="">
                            <p>SLEEPER / SICKO</p>
                            <p>GODLANDS</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/1024.png" alt="">
                            <p>Codes</p>
                            <p>OddKidOut feat. Macntaj</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/ENDLESS.png" alt="">
                            <p>ENDLESS (BEST OF ME)</p>
                            <p>AFINITY & NEVVE</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/godlands.png" alt="">
                            <p>SLEEPER / SICKO</p>
                            <p>GODLANDS</p>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="../image/1024.png" alt="">
                            <p>Codes</p>
                            <p>OddKidOut feat. Macntaj</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Подвал -->
    <footer>
        <ul>
            <li>
                <ul>
                    <li><a href="">О Сотрясателе</a></li>
                    <li><a href="">Обратная связь</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Профиль</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Каталог композиций</a></li>
                </ul>
            </li>   

            <li>
                <div>
                    <h5>Новости Сотрясателя</h5>
                    <p class="title_other_music">Ничего не пропустите и будьте в курсе последних новостей от нас.</p>
                    <form method="POST" name="subscribe">
                        <input type="text" name="email" placeholder="ВВедите почту">
                        <button type="submit" name="subscribe"><img src="icon/svg/arrow_sub.png" alt=""></button>
                    </form>
                </div>
            </li>
        </ul>
        <hr>
        <div>
            <p>2022 © Сотрясатель, все права защищены</p>
            <p>Дизайн выполнил студент 425 группы - Шигапов Карим</p>
            <div>
                <ul>
                    <li><a href=""><img src="icon/svg/social/cib_facebook.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_spotify.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_twitch.svg" alt="""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_twitter.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_vk.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/Vector.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>