<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js" defer></script>
    <link rel="icon" href="icon/svg/logo_white.svg" type="image/svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Сотрясатель</title>
</head>

<body>
    <!-- Шапка и бургер меню -->
    <header>
        <a href=""><img src="icon/svg/logo_white.svg" alt=""></a>
        <img src="icon/svg/burger.svg" alt="" class="burger_buttom">
    </header>
    <div class="burger_menu">
        <!-- <div class="burger"> -->
            <div class="burger_window">
                <div>
                    <div>
                        <a href=""><img src="icon/svg/logo_white.svg" alt="">
                            <p>Сотрясатель</p>
                        </a>
                        <img src="icon/svg/cross.svg" alt="" class="burger_buttom_close">
                    </div>
                    <div>
                        <ul>
                            <li><a href="">Музыка</a></li>
                            <li><a href="">О нас</a></li>
                            <li><a href="">Другое</a></li>
                            <li><a href="">Подписка</a></li>
                            <li><a href="">Стать артистом</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <a href=""><button>Войти</button></a>
                    <a href=""><button>Регистрация</button></a>
                </div>
            </div>
        <!-- </div> -->
    </div>

    <!-- Главная секция -->
    <main class="main">


        <div class="swiper main">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide1">
                    <div class="slide_main">
                        <div>
                            <h1>double tap</h1>
                            <h2>GOING QUANTUM &
                                HAYVE</h2>
                        </div>
                        <div>
                            <p><span>Дата релиза</span> - 7 Ноября, 2022</p>
                            <a href=""><button class="see_realese">Прослушать релиз</button></a>
                            <a href=""><button class="share">Поделиться</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide2">
                    <div class="slide_main">
                        <div>
                            <h1>Haze</h1>
                            <h2>PROFF</h2>
                        </div>
                        <div>
                            <p><span>Дата релиза</span> - 2 Сентября, 2022</p>
                            <a href=""><button class="see_realese">Прослушать релиз</button></a>
                            <a href=""><button class="share">Поделиться</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide3">
                    <div class="slide_main">
                        <div>
                            <h1>Journey</h1>
                            <h2>Galera</h2>
                        </div>
                        <div>
                            <p><span>Дата релиза</span> - 19 октября, 2022</p>
                            <a href=""><button class="see_realese">Прослушать релиз</button></a>
                            <a href=""><button class="share">Поделиться</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Секция о нас -->
    <section class="about_main">
        <div>
            <div>
                <div>
                    <h3>Последние релизы</h3>
                    <hr>
                </div>
                <div class="cart_back one">
                    <img src="image/Hopeful.jpg" alt="">
                    <h4>Hopeful</h4>
                </div>
            </div>
            <div>
                <div>
                    <h3>Наши артисты</h3>
                    <hr>
                </div>
                <div class="cart_back two">
                    <img src="image/TolyoMachine.jpg" alt="">
                    <h4>Tokyo Machine</h4>
                </div>
            </div>
            <div>
                <div>
                    <h3>Новости лейбла</h3>
                    <hr>
                </div>
                <div class="cart_back three">
                    <img src="image/V42z6zHEALk.jpg" alt="">
                    <h4>Летний фестиваль электронной музыки в Казани</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Секция другой музыки -->
    <section class="other_music">
        <div>
            <div>
                <h3>Использование другой музыки</h3>
                <hr>
            </div>
            <div class="cart_other_music">
                <div>
                    <h4 id="gold_h4">Золотой Сотрясатель</h4>
                    <div>
                        <img src="icon/svg/Gold.svg" alt="">
                    </div>
                    <p class="title_other_music">Подключите золотую подписку, чтобы использовать лицензированную музыку,
                        высокого качества, в своих творческих проектах</p>
                    <a href=""><button>Узнать больше</button></a>
                </div>
                <div>
                    <h4>Партнерство</h4>
                    <div></div>
                    <p class="title_other_music">Откройте для себя уникальные партнерские отношения и разнообразную
                        аудиторию, которые приняли бренд Сострясатель.</p>
                    <a href=""><button>Узнать больше</button></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Подвал -->
    <footer>
        <ul>
            <li>
                <ul>
                    <li><a href="">О Сотрясателе</a></li>
                    <li><a href="">Обратная связь</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Профиль</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Каталог композиций</a></li>
                </ul>
            </li>   

            <li>
                <div>
                    <h5>Новости Сотрясателя</h5>
                    <p class="title_other_music">Ничего не пропустите и будьте в курсе последних новостей от нас.</p>
                    <form method="POST" name="subscribe">
                        <input type="text" name="email" placeholder="ВВедите почту">
                        <button type="submit" name="subscribe"><img src="icon/svg/arrow_sub.png" alt=""></button>
                    </form>
                </div>
            </li>
        </ul>
        <hr>
        <div>
            <p>2022 © Сотрясатель, все права защищены</p>
            <p>Дизайн выполнил студент 425 группы - Шигапов Карим</p>
            <div>
                <ul>
                    <li><a href=""><img src="icon/svg/social/cib_facebook.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_spotify.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_twitch.svg" alt="""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_twitter.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/cib_vk.svg" alt=""></a></li>
                    <li><a href=""><img src="icon/svg/social/Vector.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>